[submodule "lib/vendor/Symfony/Component/ClassLoader"]
	path = lib/vendor/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "lib/vendor/Symfony/Component/Console"]
	path = lib/vendor/Symfony/Component/Console
	url = https://github.com/symfony/Console.git
[submodule "lib/vendor/Monolog"]
	path = lib/vendor/Monolog
	url = https://github.com/Seldaek/monolog.git
[submodule "lib/vendor/Symfony/Component/Process"]
	path = lib/vendor/Symfony/Component/Process
	url = https://github.com/symfony/Process.git
[submodule "tests/fixtures/Dev/symfony1"]
	path = tests/fixtures/Dev/symfony1
	url = https://github.com/symfony/symfony1.git
[submodule "tests/fixtures/Dev/symfony2"]
	path = tests/fixtures/Dev/symfony2
	url = https://github.com/symfony/symfony.git
