[submodule "lib/vendor/Symfony/Component/ClassLoader"]
	path = lib/vendor/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "lib/vendor/Symfony/Component/Console"]
	path = lib/vendor/Symfony/Component/Console
	url = https://github.com/symfony/Console.git
